<?xml version='1.0' encoding='utf-8'?>
<widget id="com.kreaserv.powerol" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Powerol</name>
    <description>
        Mahindra Powerol
    </description>
    <author email="info@kreaserv.com" href="http://kreaserv.com">
        Kreaserv Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="14" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="BackupWebStorage" value="none" />
    </platform>
    <preference name="orientation" value="landscape" />
    <preference name="DisallowOverscroll" value="true" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.0" />
    <plugin name="cordova-plugin-console" spec="~1.0.1" />
    <plugin name="cordova-plugin-statusbar" spec="~1.0.1" />

    <!-- <plugin name="cordova-plugin-fileopener" spec="~1.0.5"/> -->

    <!-- file work on phonegap serve -->
    <plugin spec="https://github.com/apache/cordova-plugin-file.git#rel/4.3.2" source="git"/>
    <!-- file work on phonegap serve -->
    <!-- <plugin spec="https://github.com/Smile-SA/cordova-plugin-fileopener.git#1.0.5" source="git"/> -->
    <plugin spec="https://github.com/apache/cordova-plugin-file-transfer.git#rel/1.6.2" source="git"/>
    <plugin spec="https://github.com/venkykowshik/startapp.git"/>
    <feature name="FileOpener">
        <param name="android-package" value="cordova-plugin-fileopener" />
    </feature>
    <platform name="android">
        <icon src="res/icon/android/drawable-ldpi-icon.png" density="ldpi" />
        <icon src="res/icon/android/drawable-mdpi-icon.png" density="mdpi" />
        <icon src="res/icon/android/drawable-hdpi-icon.png" density="hdpi" />
        <icon src="res/icon/android/drawable-xhdpi-icon.png" density="xhdpi" />
        <icon src="res/icon/android/drawable-xxhdpi-icon.png" density="xxhdpi" />
        <icon src="res/icon/android/drawable-xxxhdpi-icon.png" density="xxxhdpi" />
        <splash src="res/screen/android/drawable-land-ldpi-screen.png" density="land-ldpi" />
        <splash src="res/screen/android/drawable-land-mdpi-screen.png" density="land-mdpi" />
        <splash src="res/screen/android/drawable-land-hdpi-screen.png" density="land-hdpi" />
        <splash src="res/screen/android/drawable-land-xhdpi-screen.png" density="land-xhdpi" />
        <splash src="res/screen/android/drawable-land-xxhdpi-screen.png" density="land-xxhdpi" />
        <splash src="res/screen/android/drawable-land-xxxhdpi-screen.png" density="land-xxxhdpi" />
        <splash src="res/screen/android/drawable-port-ldpi-screen.png" density="port-ldpi" />
        <splash src="res/screen/android/drawable-port-mdpi-screen.png" density="port-mdpi" />
        <splash src="res/screen/android/drawable-port-hdpi-screen.png" density="port-hdpi" />
        <splash src="res/screen/android/drawable-port-xhdpi-screen.png" density="port-xhdpi" />
        <splash src="res/screen/android/drawable-port-xxhdpi-screen.png" density="port-xxhdpi" />
        <splash src="res/screen/android/drawable-port-xxxhdpi-screen.png" density="port-xxxhdpi" />
    </platform>
</widget>
